body{
	position: relative;

	background-color: #1c232e; 
	/*#1c232e - tumbler theme*/
	/*#e9ecef - jumbotron default*/
	font-family: 'Solway', serif;
}
.go-right{
	position:absolute;
	right:16px;
}
.go-left{
	position:absolute;
	left:16px;
}
.float-left{
	float:left;
}
.float-right{
	float:right;
}
.un-link{
	text-decoration: none;
}

/*CUSTOM SCROLLBAR*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/*/////////////////*/

/*////////////////////////////////////////*/
/* width */
.div-scroll::-webkit-scrollbar {
  width: 0px;
}

/* Track */
.div-scroll::-webkit-scrollbar-track {
  background: #ffffff;
 
}
/* Handle */
.div-scroll::-webkit-scrollbar-thumb {
  background: #888;
}
/* Handle on hover */
.div-scroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.div-scroll{
	/*overflow:hidden;
	overflow-y:scroll;
	color:red;
	max-height: 496px;*/ /*522px;*/
}
/*////////////////////////////////////////*/



@media screen and (max-width: 904px) { /*600px*/
  /*.sideNav img{display: none;}*/
}

.nav-img{
	height:40px;
	width: 40px;
	margin-top: -10px;
	margin-right: 3px;
	border-radius: 50%;
	/*border: 2px solid white;*/
}









